/**
 * Adapted from https://every-layout.dev/layouts/stack/
 */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

article::after,
hr::after {
  display: block;
  font-size: calc(1em / var(--type-scale));
  opacity: 0.75;
  text-align: center;
}

article::after {
  color: var(--accent-overt);
  content: "❧" / "";
  margin-block: 1lh;
}

hr::after {
  color: var(--accent-subtle);
  content: "❦" / "";
}

figcaption,
.pubdate {
  font-size: calc(1rem / var(--type-scale));
}

figcaption {
  margin-block-start: .5lh;
}

table {
	border-collapse: collapse;
  font-variant-numeric: tabular-nums;
  font-feature-settings: "liga", "clig", "tnum";
}

sup,
sub {
  font-size: 1em;
  vertical-align: inherit;
}

sup {
  font-variant-position: super;
  font-feature-settings: "liga", "clig", "sups";
}

sub {
  font-variant-position: sub;
  font-feature-settings: "liga", "clig", "subs";
}

blockquote {
  position: relative;
  padding-inline-start: 6lh;
}

blockquote::before {
  content: "“" / "";
  opacity: 0.25;
  position: absolute;
  inset-inline-start: calc(2lh / 3);
  font-size: 3lh;
  font-weight: bold;
}

ol > li::marker {
  font-variant-numeric: proportional-nums;
  font-feature-settings: "liga", "clig", "pnum";
  opacity: 0.9;
}
