dt {
  font-weight: bold;
}

dd + dt {
  margin-block-start: var(--flow-space);
}

dl .indent-1 {
  padding-inline-start: var(--flow-space, 1em);
}

dl .indent-2 {
  padding-inline-start: calc(2 * var(--flow-space));
}

dl .indent-3 {
  padding-inline-start: calc(3 * var(--flow-space));
}

.stage-direction {
  font-style: italic;
  padding: 0;
}
