.site_nav {
  padding-block-end: 1lh;
}

.site__nav ul {
  font-family: var(--font-family-mono);
  font-size: .75rem;

  display: grid;
  gap: var(--min-1px);
  grid-template-columns: 1fr repeat(2, minmax(40px, max-content));
}

.site__nav li:first-of-type a[href]::after {
  content: "_" / "";
}

@keyframes blinking-cursor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .site__nav li:first-of-type a[href]::after {
    opacity: 0.5;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .site__nav li:first-of-type a[href]:not(:hover)::after {
    animation: blinking-cursor 4s steps(2, jump-none) infinite;
    opacity: 0.75;
  }
}

.site__nav li:first-of-type a {
  inline-size: max-content;
}

.site__nav li:not(:first-of-type) a {
  inline-size: 100%;
}

.site__nav li:not(:first-of-type) a[href]:not([aria-labelledby="search-label"]) {
  font-size: 1.5rem;
}

.site__nav a {
  display: flex;
  text-decoration: none;
  block-size: 100%;
  min-block-size: 40px;
  min-inline-size: 40px;
  align-items: center;
  justify-content: center;
}

.site__nav a[aria-current="page"] {
  cursor: default;
}
