.course__nav ul {
  border-block: .05rem solid var(--accent-subtle);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--site-inline-size) / 5), 1fr));
  inline-size: 100%;
  list-style: none;
  margin-block: .5lh;
}

.course__nav a {
  display: block;
  padding: .5lh;
  text-align: center;
  text-decoration: none;
}

.course__nav a[href]:hover {
  background-color: var(--accent-subtle);
}

.course__nav a[aria-current="page"] {
  background-color: var(--accent-overt);
  color: var(--background);
  cursor: default;
}