<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": "{{ site.url }}#website",
        "url": "{{ site.url }}",
        "name": "{{ site.name }}",
        "description": "{{ site.shortDesc }}",
        "inLanguage": "{{ site.locale }}"
      }
    ]
  }
</script>
