<script type="application/ld+json" eleventy:ignore>
  {
    "@context": "https://schema.org",
    "@graph": [
      {
        "@type": "WebSite",
        "@id": "{{ metadata.url }}/#website",
        "url": "{{ metadata.url }}",
        "name": "{{ metadata.title }}",
        "description": "{{ metadata.description }}",
        "inLanguage": "{{ metadata.locale }}"
      }
    ]
  }
</script>
