<script type="application/ld+json" eleventy:ignore>
  {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage": {
      "@type": "WebPage"
    },
    "isPartOf": {
      "@id": "{{metadata.url}}#website"
    },
    "@id": "{{ metadata.url }}{{ page.url }}",
    "headline": "{{ title or metadata.title}}",
    "description": "{{ summary or introSummary or metadata.description }}",
    {%- if coverImage -%}
    "image": "{{ metadata.url }}{{ coverImage }}",
    {%- endif -%}
    "inLanguage": "{{ metadata.locale }}",
    "publisher": {
      "@type": "Person",
      "name": "{{ metadata.author.name }}",
      "url": "{{ metadata.url }}"
    },
    "author": {
      "@type": "Person",
      "name": "{{ metadata.author.name }}"
    },
    "datePublished": "{{ date | htmlDateString }}"
  }
</script>