<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-header">
  <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
  {% include "partials/components/nav.njk" %}
</header>
