---
layout: layouts/base.njk
---

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc((var(--site-inline-size) - 6lh) / 2), 1fr));
    gap: 2lh;
    padding-block-start: 1lh;
  }
</style>

<div class="flow">
  <h1>Hello!</h1>
{{ content | safe }}
  <img src="./me.jpeg" alt="a recent picture of me">
</div>

<section class="flow">
  <h2><i>Recent notes</i></h2>
{%- for note in collections.notes | reverse | head(3) -%}
  <article class="flow">
    <h3><a href="{{ note.url }}">{{ note.data.title | safe }}</a></h3>
    <p class="pubdate"><time datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate }}</time></p>
  {%- if note.data.summary -%}
    {{ note.data.summary | safe }}
  {%- endif -%}
  </article>
{%- endfor -%}
  <p><i>You can find more notes in the <a href="/notes/">archive</a>.</i></p>
</section>
