{% extends "layouts/base.njk" %}
{% set pageType = "Page" %}
{% set introHeading = title %}
{% block content %}
  <main class="page-content" id="main-content" tabindex="-1">
    <article class="entry">
      {% include "partials/components/intro.njk" %}
      <div class="entry__body">
{{ content | safe }}
      </div>
    </article>
  </main>
{% endblock content %}
