---
layout: layouts/base.njk
noindex: true
---

{%- block head -%}
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js" eleventy:ignore></script>
<script>
  onLoad(() => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>
{%- endblock head -%}

<div id="search"></div>

{# TAGS #}
<h2>Tags</h2>
