---
layout: layouts/page.njk
noindex: true
---
<style>
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc((var(--site-inline-size) - 6lh) / 2), 1fr));
    gap: 2lh;
  }
</style>
<script>
  onLoad(() => {
    new PagefindUI({ element: "#search", showSubResults: true });
  });
</script>

<div class="content">
  <section id="search"></section>

  <section>
    <h2><i>Tags</i></h2>
    <ul>
    {%- for tag in collections | getKeys | filterTagList | sortAlphabetically -%}
      {%- set tagUrl %}/has/{{ tag | slugify }}/{% endset -%}
      <li><a href="{{ tagUrl }}">{{ tag }}</a></li>
    {%- endfor -%}
    </ul>
  </section>
</div>
