---
title: Note Archive
eleventyNavigation:
  key: Note Archive
  order: 3
layout: layouts/page.njk
noindex: true
---

<ul role="list" class="flow">
{%- for note in collections.notes | reverse -%}
  <li>
    <h2><a href="{{ note.url }}">{{ note.data.title | safe }}</a></h2>
    <p><time datetime="{{ note.date | htmlDateString }}">{{ note.date | readableDate }}</time></p>
  {%- if note.summary -%}
    {{ note.data.summary | safe }}
  {%- endif -%}
  </li>
{%- endfor -%}
</ul>
