---
permalink: robots.txt
eleventyExcludeFromCollections: true
bots:
  - GPTBot
  - ChatGPT-User
  - Google-Extended
  - PerplexityBot
  - Amazonbot
  - ClaudeBot
  - Omgilibot
  - FacebookBot
  - Applebot
  - anthropic-ai
  - Bytespider
  - Claude-Web
  - Diffbot
  - ImagesiftBot
  - Omgilibot
  - Omgili
  - YouBot
---
{%- for bot in bots -%}
User-agent: {{ bot }}
Disallow: /

{% endfor -%}
User-agent: *
Disallow: /404.html

User-agent: *
Allow: /
