{%- set rootId = 'color-scheme-form' -%}
{%- set styles -%}{% include 'css/page_specific/form_color_scheme.css' %}{%- endset -%}
{%- set scripts -%}
  {% include 'js/colorSchemeForm.js' %}
  mountFormOnLoad('{{ rootId }}');
{%- endset -%}
<style>{{ styles | cssmin | safe }}</style>
<script>{{ scripts | jsmin | safe }}</script>
<section class="color-scheme-form flow" id="{{ rootId }}"></section>
