<h2>Schedule</h2><ul role="list" class="flow">
{%- for item in schedule -%}
  <li id="{{ item.date | monthDay | slugify }}">
    <h3><a href="{{ item.url }}">{{ item.date | monthDay }}</a></h3>
  {%- if item.data.notice -%}
    {{ item.data.notice | renderContent('md') | safe }}
  {%- endif -%}
  {%- if item.data.reading | length -%}
    <h4>Reading</h4>
    {{ item.data.reading | renderContent('md') | safe }}
  {%- endif -%}
  </li>
{%- endfor -%}
</ul>
