{%- set rootId = 'color-scheme-form' -%}
{%- set styles -%}{% include 'css/page_specific/settings.css' %}{%- endset -%}
{%- set scripts -%}
  {% include 'js/settings.js' %}
  mountFormOnLoad('{{ rootId }}');
{%- endset -%}
<style>{{ styles | cssmin | safe }}</style>
<script>{{ scripts | jsmin | safe }}</script>
<section class="color-scheme-form flow" id="{{ rootId }}"></section>
